*{
    margin:0;
    box-sizing:border-box;
    }

.game__wrapper{
    color:#ffffff;
    background: linear-gradient(to bottom,#615dad, #ffc8da);
    background-attachment:fixed;
    display:flex;
    justify-content: center;
}
.game__card{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:30vw;
    display:flex;
    flex-direction:column;
    align-content: center;
}
.game__intro{
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.game__header{
    font-family:'Lobster';
    padding-bottom:5px;
    font-size:2.5rem;
}
.game__text{
    text-align: center;
    padding:15px;
    background-color: #283e50;
}
.game__button{
    display:flex; 
    flex-direction:column;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    border: 1px solid #283e50;
}
.game__button--pravidla{
    background-color:#1fcca4;
    padding:10px;
}
.game__button--pravidla:hover{
   background-color: #1cbb96;
}
.game__button--hrat{
    background-color:#0197f6;
    padding:10px;
}
.game__button--hrat:hover{
    background-color:#0090e9;
}

/* ------------------------- Ukol 2 ----------------------------------- */
/* k body - dle oficialniho reseni
 display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--color-1);
  background-color: rgba(255, 255, 255, 0.4);
  max-width: 80vmin;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

.hra__card{
    background: linear-gradient(to bottom,#615dad, #ffc8da);
    background-attachment:fixed;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    min-height:100vh;
    padding:1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hra__container{
    max-width: 80vmin;
}
.hra__title{
    font-family:'Lobster';
    font-size: 3rem;
    color:#ffffff;
    text-align:center;
    margin:15px 15px 0px 15px;
}
.hra__bar{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.hra__player{
  color:#ffffff; 
}
/* .hra__circle{
    border:3px solid #ffffff;
    width:20px;
    height:20px;
    border-radius:100%;
    margin:4px;
    display:inline-block;
    vertical-align:middle; 
    color:#ffffff;
    margin-bottom: 6px;
  } */
.hra__canvas{  
    opacity:0.4;
  display:inline-grid; 
  grid-template-columns:repeat(10, 1fr); 
  border:1px solid #283e50; 
}
.hra__button{
  
    border:1px solid black;
    width:7vmin;
    height:7vmin;
}
.hra__button:hover{
    opacity: 0.65; 
}
div.hra__links{
    margin:20px;
}
.hra__links--home{
    background-color:#1fcca4;
    padding: 7px;
    border-radius:4px;
}
.hra__links--restart{
    background-color:#0197f6;
    padding: 7px;
    border-radius:4px;
}
/* --------------------Ukol 3---------------------- */
.hra__button--circle{
 background-image: url(circle_black.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: 70%;
 animation: anim .2s cubic-bezier(.17,.67,.8,.35);
}

.hra__button--cross{
background-image: url(cross_black.svg);
background-repeat: no-repeat;
background-position: center;
background-size: 70%;
animation: anim .2s cubic-bezier(.17,.67,.8,.35);
}
@keyframes anim {
    0%{
        background-size:0%;
    }
    100%{
        background-size:75%;
    }
}